<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HighFlix Admin</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.semanticui.min.css">
</head>
<body>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                </button>
            </div>
            <div class="img bg-wrap text-center py-4" style="background-image: url('https://i.pinimg.com/564x/4c/ea/46/4cea46f2c1291ca1f613f41cf73e4c8b.jpg');">
                <div class="user-logo">
                    <div class="img" style="background-image: url('https://i.pinimg.com/564x/4a/fe/31/4afe31b113d6dcfdcd1ebe2783b57421.jpg');"></div>
                    <h3>HighFlix</h3>
                </div>
            </div>
            <ul class="list-unstyled components mb-5">
                <li>
                    <a asp-controller="Home" asp-action="Index">Home</a>
                </li>
                @{
                    if (Context.Session.GetString("Username") != null)
                    {
                        <li>
                            <a asp-controller="Episode" asp-action="Index">Episode Management</a>
                        </li>
                        <li>
                            <a asp-controller="Movie" asp-action="Index">Movie Management</a>
                        </li>
                        <li>
                            <a asp-controller="Category" asp-action="Index">Category Management</a>
                        </li>
                        <li>
                            <a asp-controller="User" asp-action="Index">User Management</a>
                        </li>
                        <li>
                            <a asp-controller="Statistic" asp-action="Index">Statistic Management</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Logout">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-controller="Home" asp-action="Login">Login</a>
                        </li>
                    }
                }

            </ul>

        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

            <footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2023 - AdminRazorPageV2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>
        </div>
    </div>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.semanticui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.js"></script>


    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
