@using DTOs.MovieDTOs.RequestDto;
@model UpdateMovieDto;

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    body {
        color: #333;
        background: #f5f5f5;
        font-family: 'Varela Round', sans-serif;
        font-size: 18px;
    }

    .table-title {
        padding: 16px 0;
        background: #435d7d;
        color: #fff;
        border-radius: 3px 3px 0 0;
        text-align: center;
    }

        .table-title h2 {
            font-size: 40px;
            color: #f5f5f5;
        }

    .card {
        margin-top: 20px;
    }

    .btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;
        color: #fff;
        padding: 10px 18px;
        font-size: 18px;
    }

    .btn-secondary {
        background-color: #6c757d;
        border-color: #6c757d;
        color: #fff;
        padding: 10px 18px;
        font-size: 18px;
    }
</style>

<div class="container">
    <div class="table-title">
        <h2>Update <b>Movie</b></h2>
    </div>
    <div class="card" style="align-items: center">
        <div class="card-body" style="width: 500px">
            <hr />
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="MovieId" />
                <div class="form-group">
                    <label class="control-label">Movie Name</label>
                    <input asp-for="MovieName" class="form-control" required/>
                    <span asp-validation-for="MovieName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" required/>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Movie Thumnail Image</label>
                    <input asp-for="MovieThumnailImage" class="form-control" required/>
                    <span asp-validation-for="MovieThumnailImage" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Movie Poster</label>
                    <input asp-for="MoviePoster" class="form-control" required/>
                    <span asp-validation-for="MoviePoster" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Total Episodes</label>
                    <input asp-for="TotalEpisodes" class="form-control" required min="1"/>
                    <span asp-validation-for="TotalEpisodes" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Released Year</label>
                    <input asp-for="ReleasedYear" class="form-control" required/>
                    <span asp-validation-for="ReleasedYear" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Alias Name</label>
                    <input asp-for="AliasName" class="form-control" required/>
                    <span asp-validation-for="AliasName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Director" class="control-label"></label>
                    <input asp-for="Director" class="form-control" required/>
                    <span asp-validation-for="Director" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Main Characters</label>
                    <input asp-for="MainCharacters" class="form-control" required/>
                    <span asp-validation-for="MainCharacters" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Categories" class="control-label">Categories</label>
                    <div>
                        @foreach (var category in ViewBag.Categories)
                        {
                            var check = 0;

                            @foreach (var categoryChecked in Model.Categories)
                            {
                                @if (category.CategoryId == categoryChecked)
                                {
                                    check = 1;
                                    break;
                                }
                            }
                            @if (check == 1)
                            {
                                <div>
                                    <input type="checkbox" name="Categories" value="@category.CategoryId" id="category-@category.CategoryId" checked />
                                    <label for="category-@category.CategoryId">@category.CategoryName</label>
                                </div>
                            }
                            else
                            {
                                <div>
                                    <input type="checkbox" name="Categories" value="@category.CategoryId" id="category-@category.CategoryId" />
                                    <label for="category-@category.CategoryId">@category.CategoryName</label>
                                </div>
                            }
                        }
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Trailer" class="control-label"></label>
                    <input asp-for="Trailer" class="form-control" />
                    <span asp-validation-for="Trailer" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
